.btn-blue {
	background-color: #87CEEB;
	padding:  15px 20px;
	border-radius:  4px;
	margin-bottom: 10px;
	color:  white;
	font-weight: bold;
	font-family: 'Roboto', cursive;
}

#introduction p{
	margin-bottom: 40px;
}
